*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
}

.container {
  max-width: 830px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  padding: 7px 0 6px;
  display: inline-block;
  text-align: center;
  max-width: 130px;
  width: 100%;
  font-weight: 600;
  border: 1px solid #000;
  border-radius: 18px;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  color: #fff;
  background-color: #0b51ff;
  border-color: #0b51ff;
}

.header__inner {
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__name::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  left: 0;
  top: 11px;
  background-color: #0b51ff;
}

.header__name {
  font-weight: 600;
  font-size: 25px;
  padding-left: 25px;
  position: relative;
}

.header__name span {
  font-weight: 300;
  font-size: 17px;
  text-transform: uppercase;
}

.header__nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-size: 14px;
  text-transform: uppercase;
}

.header__nav-item {
  cursor: pointer;
  transition: color 0.3s;
}

.header__nav-item:hover {
  color: #0b51ff;
}

.up-btn {
  opacity: 0.5;
  display: block;
  background-color: #f4ece6;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  position: fixed;
  right: 40px;
  bottom: 130px;
  z-index: 10;
  transition: all 1s;
}

.up-btn:hover {
  opacity: 1;
}

.up-btn--hide {
  transform: translateX(300%);
}

.about {
  position: relative;
}

.about::before {
  content: "";
  position: absolute;
  background-color: #e6dace;
  left: 0;
  height: 100%;
  width: 45%;
  z-index: -1;
}

.about__inner {
  padding: 120px 0 145px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.about__card {
  max-width: 375px;
  width: 100%;
  background-color: #f4ece6;
  box-shadow: -6px 6px 10px 2px rgba(34, 60, 80, 0.2);
  text-align: center;
}

.about__card-img {
  width: 205px;
  height: 205px;
  border-radius: 50%;
  margin-top: 40px;
  margin-bottom: 35px;
}

.about__card-title {
  font-size: 27px;
  line-height: 1.2;
  font-weight: 600;
  max-width: 230px;
  margin: 0 auto 30px;
  padding-bottom: 25px;
  position: relative;
}

.about__card-title::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: #0b51ff;
  bottom: 0;
  right: 90px;
}

.about__card-spec {
  font-size: 17px;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin: 0 15px 45px;
}

.about__card-socials {
  padding: 15px 0;
  background-color: #fff;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.about__card-socials--img {
  width: 25px;
  height: 25px;
}

.about__info {
  max-width: 370px;
  width: 100%;
}

.about__info-title {
  font-size: 100px;
  margin-bottom: 20px;
  font-weight: 600;
}

.about__info-posttitle {
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 30px;
}

.about__info-buttons {
  margin-bottom: 40px;
}

.about__info-btn + .about__info-btn {
  margin-left: 10px;
}

.about__info-text {
  margin-bottom: 30px;
}

.resume,
.projects,
.contact {
  background-color: #e6dace;
}

.resume__inner {
  padding: 80px 0 50px;
}

.resume__title,
.projects__title,
.contact__title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.resume__title::before,
.projects__title::before,
.contact__title::before {
  content: "";
  height: 17px;
  width: 17px;
  left: 0;
  top: 7px;
  background-color: #0b51ff;
}

.resume__experience {
  margin-bottom: 80px;
}

.experience__title,
.education__title,
.resume__skills-title {
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 40px;
}

.experience__box,
.education__box,
.projects__box {
  padding: 60px 40px;
  background-color: #fff;
  box-shadow: -6px 6px 10px 2px rgba(34, 60, 80, 0.2);
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.experience__box-title,
.education__box-title {
  font-size: 17px;
  font-weight: 600;
  color: #0b51ff;
  margin-bottom: 10px;
}

.experience__box-item,
.education__box-item {
  margin-bottom: 15px;
}

.experience__box-item--1,
.education__box-item--1 {
  text-transform: uppercase;
}

.experience__box-about,
.education__box-about {
  max-width: 400px;
  width: 100%;
}

.experience__box-text,
.education__box-text {
  margin-bottom: 25px;
}

.resume__skills {
  padding: 60px 40px;
  margin-bottom: 40px;
  background-color: #fff;
  box-shadow: -6px 6px 10px 2px rgba(34, 60, 80, 0.2);
}

.resume__skills-title {
  margin-bottom: 30px;
}

.resume__skills-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
  margin-bottom: 20px;
}

.resume__skills-text {
  margin-bottom: 20px;
}

.resume__skills-link {
  color: #0b51ff;
  transition: all 0.3s;
}

.resume__skills-link:hover {
  text-decoration: underline;
}

.resume__skills-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.education__box {
  margin-bottom: 40px;
}

.resume__skills-list:last-child {
  margin-bottom: 0;
}

.projects__inner {
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.projects__inner-box {
  display: flex;
  flex-direction: column;
  padding: 0;
  max-width: 370px;
  width: 100%;
  transition: all 0.3s;
  overflow: hidden;
  background-color: #fff;
}

.projects__box-info {
  padding: 0 30px 30px;
}

.projects__box-title {
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 30px;
  position: relative;
  transition: all 0.3s;
}

.projects__box-text {
  margin-bottom: 15px;
}

.projects__box-link {
  font-weight: 700;
  transition: color 0.3s;
}

.projects__box-link:hover {
  color: #0b51ff;
}

.projects__inner-box:hover .projects__box-title {
  font-size: 22px;
  background-color: #0b51ff;
  color: #fff;
  padding-left: 3px;
}

.projects__box-title::before {
  position: absolute;
  content: "";
  border-left: 7px solid #0b51ff;
  left: -30px;
  top: 0;
  right: 0;
  bottom: 0;
}

.projects__box-wrapper {
  display: inline-block;
  border: 2px solid #000;
  max-width: 350px;
}

.project__box-img {
  max-width: inherit;
  width: 100%;
  max-height: 200px;
  height: 100%;
  transition: all 0.3s ease;
  margin-bottom: 20px;
}

.project__box-img:hover {
  transform: scale(110%);
}

.contact__inner {
  padding-bottom: 50px;
}

.contact__wrapper {
  background-color: #fff;
  padding: 40px;
  max-width: 800px;
  width: 100%;
}

.contact__form-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
  margin-bottom: 30px;
}

.contact__form-inputs,
.contact__form-textarea {
  width: 100%;
}

.contact__form-textarea {
  min-height: 150px;
}

.contact__form-input,
.contact__form-textarea {
  font-family: "Poppins", sans-serif;
  border: none;
  border-bottom: 1px solid #000;
  background-color: transparent;
  font-size: 17px;
  padding: 10px 25px 10px 12px;
  width: 100%;
}

.contact__form-name {
  margin-bottom: 15px;
}

.contact__button {
  display: block;
  margin: 0 auto;
}

.footer {
  margin: 30px 40px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.footer__text-link,
.footer__contacts-link {
  transition: all 0.3s;
}

.footer__contacts-link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.footer__text-link:hover,
.footer__contacts-link:hover {
  text-decoration: underline;
}

.footer__contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.footer__contacts-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.burger__menu {
  background-color: transparent;
  display: none;
}

.burger__menu-icon {
  display: flex;
  align-items: center;
  height: 50px;
  width: 50px;
  position: relative;
}

.burger__menu-icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  cursor: pointer;
  pointer-events: none;
  transition: all 0.3s ease;
}

.burger__menu-icon.active i.open {
  opacity: 0;
  transform: translate(-50%, -50%) rotate(180deg);
}

.burger__menu-icon i.close {
  opacity: 0;
}

.burger__menu-icon.active i.close {
  opacity: 1;
  transform: translate(-50%, -50%) rotate(180deg);
}

@media (max-width: 870px) {
  .burger__menu {
    display: block;
    z-index: 4;
  }
  .header__nav {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 870px;
    width: 100%;
    text-align: center;
    background-color: #fff;
    padding: 50px 0;
    z-index: 3;
    transform: translateY(-300%);
    transition: all 0.3s ease;
  }
  .header__nav.active {
    transform: translateY(0%);
  }
  .header__nav-list {
    display: block;
    gap: 0;
    font-size: 20px;
    font-weight: 600;
  }
  .header__nav-link {
    padding: 15px 0;
    display: inline-block;
    width: 100%;
  }

  .projects__inner {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .project__box-img:hover {
    transform: none;
  }
  .projects__link:hover .projects__box-title {
    font-size: 17px;
    background-color: transparent;
    color: #000;
    padding-left: 0;
  }

  .footer__inner {
    flex-direction: column;
  }
  .footer__contacts {
    order: -1;
  }
}
@media (max-width: 680px) {
  .title {
    margin-bottom: 50px;
  }
  .header__inner {
    padding: 40px 40px 200px;
  }
  .about {
    background-color: #e6dace;
  }
  .about__inner {
    flex-direction: column;
    padding: 0px 0 30px;
  }
  .about__card {
    min-width: 320px;
    margin-top: -170px;
  }
  .about__card-spec {
    display: none;
  }
  .resume__inner {
    padding: 30px 0 30px;
  }
  .experience__box,
  .education__box,
  .resume__skills {
    padding: 40px 30px;
  }
  .resume__skills-list {
    margin-bottom: 40px;
  }

  .contact__wrapper {
    padding: 30px;
    margin-bottom: 40px;
  }
  .contact__form-box {
    flex-wrap: wrap;
  }
}

@media (max-width: 550px) {
  .header__name-spec {
    display: block;
  }
  .about__info-title {
    font-size: 75px;
  }
  .about__info-posttitle {
    font-size: 21px;
    margin-bottom: 20px;
  }
  .experience__box,
  .education__box {
    flex-direction: column;
  }
  .resume__skills-img {
    width: 100%;
  }
  .footer__contacts {
    flex-direction: column;
  }
}

@media (max-width: 420px) {
  .header__inner {
    padding: 20px 20px 200px;
  }
  .header__name {
    font-size: 20px;
  }
  .header__name-spec {
    font-size: 14px;
  }
  .up-btn {
    right: 10px;
    bottom: 100px;
  }
  .about__info-title {
    font-size: 55px;
  }
  .about__card {
    max-width: 320px;
  }
  .about__info-buttons {
    margin-bottom: 20px;
  }
}
