@media (max-width: 870px) {
  .btn {
    color: #fff;
    background-color: #0b51ff;
    border-color: #0b51ff;
  }
  .burger__menu {
    display: block;
    z-index: 4;
  }
  .header__nav {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 870px;
    width: 100%;
    text-align: center;
    background-color: #fff;
    padding: 50px 0;
    z-index: 3;
    transform: translateY(-300%);
    transition: all 0.3s ease;
  }
  .header__nav.active {
    transform: translateY(0%);
  }
  .header__nav-list {
    display: block;
    gap: 0;
    font-size: 20px;
    font-weight: 600;
  }
  .header__nav-link {
    padding: 15px 0;
    display: inline-block;
    width: 100%;
  }

  .projects__inner {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .project__box-img:hover {
    transform: none;
  }
  .projects__link:hover .projects__box-title {
    font-size: 17px;
    background-color: transparent;
    color: #000;
    padding-left: 0;
  }

  .footer__inner {
    flex-direction: column;
  }
  .footer__contacts {
    order: -1;
  }
}
@media (max-width: 680px) {
  .title {
    margin-bottom: 50px;
  }

  .header__inner {
    padding: 40px 40px 200px;
  }
  .about {
    background-color: #e6dace;
  }
  .about__inner {
    flex-direction: column;
    padding: 0px 0 30px;
  }
  .about__card {
    min-width: 320px;
    margin-top: -170px;
  }
  .about__card-spec {
    display: none;
  }
  .resume__inner {
    padding: 30px 0 30px;
  }
  .experience__box,
  .education__box,
  .resume__skills {
    padding: 40px 30px;
  }
  .resume__skills-list {
    margin-bottom: 40px;
  }

  .contact__wrapper {
    padding: 30px;
    margin-bottom: 40px;
  }
  .contact__form-box {
    flex-wrap: wrap;
  }
}

@media (max-width: 550px) {
  .header__name-spec {
    display: block;
  }
  .about__info-title {
    font-size: 75px;
  }
  .about__info-posttitle {
    font-size: 21px;
    margin-bottom: 20px;
  }
  .experience__box,
  .education__box,
  .footer__contacts {
    flex-direction: column;
  }
  .resume__skills-img {
    width: 100%;
  }
}

@media (max-width: 420px) {
  .header__inner {
    padding: 20px 20px 200px;
  }
  .header__name {
    font-size: 20px;
  }
  .header__name-spec {
    font-size: 14px;
  }
  .up-btn {
    right: 10px;
    bottom: 100px;
  }
  .about__info-title {
    font-size: 55px;
  }
  .about__card {
    max-width: 320px;
  }
  .about__info-buttons {
    margin-bottom: 20px;
  }
}
